body::after {
  content: "";
  background: url(../imagenes/cryptoImage2.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.08;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

nav {
  background-color: #ff6969;
}

.navLista {
  margin: 1rem;
}

#titulo {
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
  width: 75%;
  color: #3e3e3e;
}

.linkActivo {
  font-size: larger;
}

li:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Mulish", sans-serif !important;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-family: "Mulish", sans-serif !important;
}

h4 {
  margin: 1rem;
}

#verSaldo {
  width: 60%;
}

#address {
  color: #3e3e3e;
}

.menu {
  display: inline-block;
}

.seccionPrincipal {
  width: 80%;
  margin: 1rem;
  margin-top: 4rem;
  display: flex;
}

.balance {
  margin: 0 auto;
}

.red {
  margin: 0 auto;
  display: flex;
}

.resultado-wallet {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 2rem;
}

.card-body {
  text-align: center;
}

.separador {
  margin: 0 auto;
  margin-top: 4rem;
  width: 90%;
  border-top: 2px solid #ff6969;
}

.verMas {
  color: #3e3e3e;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(auto, 200px);
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  margin: 7rem;
}

#tituloFavoritos {
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
  width: 75%;
  color: #3e3e3e;
}

#proyectos-favoritos {
  padding-bottom: 110px;
}
#proyectos-favoritos:hover {
  transform: scale(1.2, 1.2);
}

.proyecto-chico {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6969;
  transition: all 1s;
}

.botones-red {
  margin: 1px;
}

.card-img, .card-img-bottom, .card-img-top {
  width: 80% !important;
}

@media (max-width: 1600px) {
  #proyectos-favoritos {
    padding-bottom: 110px;
  }

  .seccionPrincipal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 1rem;
  }

  .balance {
    text-align: center;
  }

  .red {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .resultado-wallet {
    flex-wrap: wrap;
  }

  .contenedor-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(auto, 100px);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin: 6rem;
  }

  .card-img, .card-img-bottom, .card-img-top {
    width: 50% !important;
  }

  .proyecto-favorito:hover {
    transform: scale(1.1, 1.1);
  }
}
@media (max-width: 1000px) {
  .seccionPrincipal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 1rem;
  }

  .balance {
    text-align: center;
  }

  .resultado-wallet {
    flex-wrap: wrap;
  }

  .contenedor-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(auto, 100px);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin: 6rem;
  }

  .card-img, .card-img-bottom, .card-img-top {
    width: 50% !important;
  }

  .proyecto-favorito:hover {
    transform: scale(1.1, 1.1);
  }
}

/*# sourceMappingURL=style.css.map */
