@import 'variables';


#tituloFavoritos{
    text-align: center;
    margin:0 auto;
    margin-top: 5rem;
    width: 75%;
    color:$color-principal;

}
#proyectos-favoritos{
  
    padding-bottom: 110px;
    &:hover{
    
        transform: scale(1.2,1.2);
    }
}



.proyecto-chico{
    display: flex;
    justify-content: center;
    align-items: center;    
    color:$color-nav;
    transition: all 1s;
    
}