@import 'variables';
*{
    margin:0;
    padding: 0;
} 


html{
    font-family: $fuente-principal;
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5 {
    font-family: $fuente-principal;

}
h4{
    margin: 1rem ;
}

#verSaldo{
    width: 60%;
    
}

#address{
    color:$color-principal;
}

.menu{
    display: inline-block;
}

.seccionPrincipal{
   
    width: 80%;
     margin: 1rem ;
     margin-top: 4rem;
     
     display: flex;
     
 
 }

 .balance{
    margin: 0 auto;

}

.red{
    margin: 0 auto;
    display:flex;

}
.resultado-wallet{
    margin:0 auto;
    text-align: center;
    width: 80%;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 2rem;
}


.card-body{
    text-align: center;
}
.separador{
  
    margin:0 auto;
    margin-top: 4rem;
    width: 90%;
    border-top:  2px solid $color-nav;
}
.verMas{
    
    color:$color-principal;
}
.contenedor-grid{
    
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(auto, 200px);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    margin:7rem;
    
}

