@media  (max-width: 1600px){
    #proyectos-favoritos{
  
        padding-bottom: 110px;
    }

    .seccionPrincipal{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 1rem;
        
    }
  
    .balance{
        text-align: center;
        
    }
    .red{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .resultado-wallet{
        flex-wrap: wrap;
    }
   
   .contenedor-grid{
    
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(auto, 100px);
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;
            margin:6rem;
    }
    .card-img, .card-img-bottom, .card-img-top{
        width: 50% !important;
    }
    .proyecto-favorito:hover{
    
        transform: scale(1.1,1.1);
    }
        
}
@media  (max-width: 1000px){

    .seccionPrincipal{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 1rem;
        
    }
   
    .balance{
        text-align: center;
        
    }
    .resultado-wallet{
        flex-wrap: wrap;
    }
   
   .contenedor-grid{
    
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-template-rows: repeat(auto, 100px);
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;
            margin:6rem;
    }
    .card-img, .card-img-bottom, .card-img-top{
        width: 50% !important;
    }
    .proyecto-favorito:hover{
    
        transform: scale(1.1,1.1);
    }
        
}